.form-group{
    margin-bottom:20px;
    text-align:left;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    color:#00e5ff;
    font-size:14px;
}

.form-group input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:14px;
    background:#1e293b;
    color:white;
}